<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_SECRET</key>
	<string>4f48a790539ceb92780fc4fd04f86e5cf67bdda7</string>
	<key>CLIENT_ID</key>
	<string>0f44d665703d3ef75ad4</string>
</dict>
</plist>
